#text.htmx-added {
    opacity: 0;
}

#text a, a:link, a:visited {
    text-decoration: underline; 
    color: #ffffff;
}

#text a:hover {
    transition-duration: 0.3s;
    color: #b3b3b3;
}

#text {
    opacity: 1;
    transition: opacity 1s;
    display: inline-block;
    width: 400px;
    height: 400px;
}

#writings {
    height: 350px;
    width: 400px;
    overflow-y: scroll;
    text-align: left;
}