<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WILJAM144 - Writings</title>
    <link rel="stylesheet" href="/css/writing.css">
    <link rel="stylesheet" href="/lib/black-metal-dark-funeral.min.css">

    <script src="/lib/htmx.min.js"></script>
    <script src="/lib/highlight.min.js"></script>

    <script defer src="/js/writing.js"></script>
</head>
<body>
    <div id="content">
        <a id="back-button" href="/">Go Back</a>
        <div id="markdown-content">
            {{content}} 
        </div> 
    </div>
</body>
</html>