#text.htmx-added {
    opacity: 0;
}

#text {
    opacity: 1;
    transition: opacity 1s;
}

#text a, a:link, a:visited {
    text-decoration: underline; 
    color: #ffffff;
}

#text a:hover {
    transition-duration: 0.3s;
    color: #b3b3b3;
}