<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WILJAM144</title>

    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png">

    <script src="/lib/htmx.min.js"></script>
    <script defer src="/lib/particles.min.js"></script>

    <script defer src="/js/main.js"></script>

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div id="wrapper">
        <div style="background-color: black" id="particles-js"></div>


        <div id="content">
            <div id="sidebar">
                <span id="title" hx-target="#main" hx-get="/html/home.html">WILJAM144</span> <br>
                
                <span id="aboutme" hx-target="#main" hx-get="/html/aboutme.html">
                    About Me
                </span> <br>
                <span id="articles" hx-target="#main" hx-get="/html/writings.html">
                    Writings
                </span> <br>
                <span id="blog" hx-target="#main" hx-get="/html/blog.html">
                    Blog
                </span> <br>
                <span id="contact" hx-target="#main" hx-get="/html/contact.html">
                    Contact
                </span> <br>
            </div>

            <div id="main">
                
            </div>
        </div>
    </div>
</body>
</html>